<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0/css/all.min.css">
    <link rel="stylesheet" href="css/estilo.css">
    <title>Filtros</title>
</head>
<body>

    <div id="app">
        <nav class="navbar navbar-light bg-info">
            
            <div class="d-flex flex-row">
                <a class="navbar-brand text-white">Filtros</a>
            </div>

            <div>            
                <ul class="navbar-nav d-flex flex-row  ">
                    <li class="list-inline-item text-white mr-4">Tabelas</li>
                </ul>
            </div >

            <div class="navbar-nav d-flex flex-row">
            <button class="btn btnPadrao" @click="meuLinkedin"><i class="fab fa-linkedin"></i></button>
            </div>
        </nav>

        
        <div class="container-fluid ">

            <div class="row d-flex justify-content-center mt-3">
                <div class="col-12 col-lg-2 text-center">
                    <h1 >SEARCH</h1>
                </div>
            </div>
    
            <div class="row d-flex justify-content-center mt-3">

                <div class="col-10 col-lg-3">
                    <div class="d-flex justify-content-center mb-3">
                        <div class="col-8 col-lg-11">
                            <input class="form-control" type="text" v-model="termoPesquisado2" placeholder="Pesquise por qualquer item da tabela" >
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <table class="table mb-5">
                            <thead class="thead-dark text-center">
                                <th>Codigo</th>
                                <th>Nome</th>
                                <th>Idade</th>
                                <th>Sexo</th>
                            </thead>
                            <tbody class=" text-center">
                                <tr>
                                    <td colspan="4" v-if="registrosEncontrados">Nenhum intem encontrado</td>
                                </tr>
                                <tr v-for="pessoa of listaFiltradaPorDigitoSemIE">
                                    <td v-for="propriedade of pessoa">{{propriedade}}</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr class="table-info">
                                    <td colspan="4">Não possui suporte para IE</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                        
                </div>

                <div class="col-10 col-lg-3">
                    <div class="d-flex justify-content-center mb-3">
                        <div class="col-8 col-lg-11">
                            <input class="form-control" type="text" v-model="termoPesquisado3" placeholder="Pesquise por qualquer item da tabela" >
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <table class="table table-striped mb-5">
                            <thead class="thead-dark text-center">
                                <th>Codigo</th>
                                <th>Nome</th>
                                <th>Idade</th>
                                <th>Sexo</th>
                            </thead>
                            <tbody class=" text-center">
                                <tr>
                                    <td colspan="4" v-if="registrosEncontrados2">Nenhum intem encontrado</td>
                                </tr>
                                <tr v-for="pessoa of listaFiltradaPorDigitoComIE">
                                    <td v-for="propriedade of pessoa">{{propriedade}}</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr class="table-success">
                                    <td colspan="4">Possui suporte para IE</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                        
                </div>

                <div class="col-10 col-lg-3">
                    <div class="d-flex justify-content-center mb-3">
                        <div class="col-8 col-lg-11">
                            <input class="form-control" type="text" v-model="termoPesquisado" placeholder="Pesquise por qualquer item da tabela" >
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <table class="table table-striped mb-5">
                            <thead class="thead-dark text-center">
                                <th>Codigo</th>
                                <th>Nome</th>
                                <th>Idade</th>
                                <th>Sexo</th>
                            </thead>
                            <tbody class=" text-center">
                                <tr>
                                    <td colspan="4" v-if="registrosEncontrados3">Nenhum intem encontrado</td>
                                </tr>
                                <tr v-for="pessoa of listaFiltradaPorPalavraDigitadaComIE">
                                    <td v-for="propriedade of pessoa">{{propriedade}}</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr class="table-success">
                                    <td colspan="4">Possui suporte para IE</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                        
                </div>

            </div>
    
        </div>
    </div>
    
</body>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0/js/all.min.js"></script>
<script src="js/acoes.js"></script>
</html>